{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block body %}
<h1>Contacts</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Surname</th>
			<th scope="col">E-Mail</th>
			<th scope="col">Secondary E-Mail</th>
			<th scope="col">Phone</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for contact in contacts %}
		<tr>
			<td>{{ contact.name }}</td>
			<td>{{ contact.surname }}</td>
			<td>{{ contact.email }}</td>
			<td>{{ contact.email2 }}</td>
			<td>{{ contact.phone }}</td>
			<td class="text-right">
				<div class="row">
					<form action="{{ url_for('contacts_delete') }}" method="post" class="pull-right">
						<input type="hidden" name="id" value="{{ contact.id }}">
						<input type="submit" class="btn btn-danger" data-toggle="confirmation" {# data-title="¿Estas seguro?" #} value="Delete">
					</form>
					<a class="btn btn-primary pull-right" href="{{ url_for('edit_contact', id=contact.id) }}">Edit</a>
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
